<form (ngSubmit)="showFormOnConsole()" [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old password</label>
        <input type="password" class="form-control" formControlName="oldPass" (change)="showOldPassword()">
        <div *ngIf="oldPass.invalid && oldPass.touched" class="alert alert-danger">
            <div *ngIf="oldPass.errors.required"> 
                Podanie starego hasła jest wymagane 
            </div>
            <div *ngIf="oldPass.errors.shouldBeValid"> 
                Hasło nieprawidłowe
            </div>
        </div>
    </div> 
    <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" formControlName="newPass" (change)="showNewPassword()">
        <div *ngIf="newPass.errors && newPass.touched" class="alert alert-danger">
            Podanie nowego hasła jest wymagane
        </div>
    </div>
    <div>
        
    </div>
    <div class="form-group">
        <label for="repeatNewPassword">
            repeatNewPass.valid {{repeatNewPass.valid}}  
        </label><br>
        <label for="repeatNewPassword">
            form.errors.passwordsShouldMatch {{form.errors.passwordsShouldMatch}}
        </label> <br>
        <label for="repeatNewPassword">
            form.invalid {{form.invalid}}
        </label><br>
        <label for="repeatNewPassword">Repeat new password</label>
        <input type="password" class="form-control" formControlName="repeatNewPass" id="repeatNewPassword">
        <div *ngIf="repeatNewPass.errors.required && repeatNewPass.touched" class="alert alert-danger">       
                Powtórne podanie nowego hasła jest wymagane
        </div>
        <div *ngIf="repeatNewPass.valid && form.errors.passwordsShouldMatch && form.invalid" class="alert alert-danger">
            Nowe hasła nie pasują do siebie
        </div>
    </div>

    
    <button class="btn btn-primary" type="submit">Change password</button> 
</form>
<!-- (change)="showRepeatNewPassword()" -->
