<h1>Clients</h1>
<p *ngIf="!klienci"><em>Loading...</em></p>
<div>
  <p *ngIf="klienci">
      These clients were loaded from Azure SQL Database throught service 
    <a href="{{ getServiceUrl() }}">{{ getServiceUrl() }}</a>. 
    <button 
      mat-flat-button 
      color="accent" 
      style="float: right"
      (click)="openCreateDialog()"  
    >Add client</button>
  </p>
  
</div>
<table class='table' *ngIf="klienci">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company Name</th>
      <th>Contact Name</th>
      <th>City</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let klient of klienci; let i = index">
      <td>{{ klient.customerID }}</td>
      <td>{{ klient.companyName }}</td>
      <td>{{ klient.contactName }}</td>
      <td>{{ klient.city }}</td>
      <td>{{ klient.country }}</td>
      <td>
        <a mat-button (click)="openEditDialog(klient,i)" color="primary">Edit</a>
      </td>
      <td>
        <a mat-button (click)="openDeleteDialog(klient.customerID,i)" color="warn">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- {{klientZero.customerID}} -->

