<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow">
    <div class="container">
      <a class="navbar-brand" routerLink="/">AngularByEmil</a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target=".navbar-collapse" 
        aria-controls="navbarText" 
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse "
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" >
            <a class="nav-link" routerLink="/clients" (click)="collapse()" routerLinkActive="active">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/followers" (click)="collapse()" routerLinkActive="active">Followers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/courseForm" (click)="collapse()" routerLinkActive="active">Course Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/newCourseForm" (click)="collapse()" routerLinkActive="active">New Course Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/singUpForm" (click)="collapse()" routerLinkActive="active">SignUp Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" (click)="collapse()" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/title-case" (click)="collapse()" routerLinkActive="active">Title Case</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/counter" (click)="collapse()" routerLinkActive="active">Counter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
