.zippy {
    border: 1px solid #ccc ;
    border-radius: 5px;
}

.zippy-heading {
    font-weight: bold;
    font-size: larger;
    padding: 20px;
    cursor: pointer;
}

.zippy-body {
    font-size: large;
    padding: 20px;
}

.expanded {
    background-color: honeydew;
}

.fa {
    float: right;
}